.fav {
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 32px;
  height: 100%;
}

.fav__title {
  @include robotoMedium(24px);
  margin: 0;
}

.fav__reorder {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.fav__rating {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  outline: none;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 4px 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.fav__rating_active {
  border-color: $green;
}

.fav__text {
  @include robotoRegular(14px);
  color: #99a0a3;
  margin: 0;
}

.fav__text_active {
  color: $green;
}

.fav__arrows {
  width: 18px;
  height: 18px;
}

.fav__hotels {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 260px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
