.list {
  padding: 48px 32px;
  box-sizing: border-box;
  width: 664px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list__city {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.list__text {
  @include robotoMedium(32px);
  margin: 0;
}

.list__date {
  @include robotoRegular(24px);
  margin: 0;
  color: $green;
}

.list__arrow {
  width: 8.7px;
  height: 17.3px;
}

.list__slider {
  width: 100%;
  overflow: hidden;
  margin: 28px 0;
  height: 149px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 12px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.list__slide-image {
  width: 164px;
  height: 149px;
  margin: 0;
}

.list__fav {
  @include robotoLight(17px);
  margin: 0 0 12px;
  align-self: flex-start;
  span {
    @include robotoMedium(17px);
    color: $green;
  }
}

.list__container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.list__hotels {
  width: calc(100% - 2px);
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
